<div class="navbar">
    <div class="izquierda_navbar">
        <img
          src="../../../assets/images/LOGO/logo.png"
          alt="netflix"
        />
      <ul>
        <li>
        </li>
        <li>Home</li>
        <li>Movies</li>
        <li>New</li>
        <li>Languages</li>
      </ul>
    </div>
    <div class="derecha_navbar">
      <ul>
        <li>
          <img
            src="../../../assets/images/Icons/zoom-32.png"
            alt="lupa"
          />
        </li>
        <li>
          <img src="../../../assets/images/Icons/bell-3-32.png" alt="bell" />
        </li>
      </ul>
    </div>
  </div>
  
